@model IEnumerable<Dominio.TipoPlanta>

@{ ViewData["Title"] = "Agregar Planta"; }


<div class="row justify-content-center">
    <div class="col col-sm-8">
        <h1>@ViewData["Title"]</h1>
        <p>Complete todos los campos con la infromación de la planta a agregar.</p>
        <form class="card p-3" asp-action="PlantaAgregada">
            <div class="form-group">
                <label for="selPlantType">Tipo</label>
                <select class="form-control" id="selPlantType">
                    <option value="">Seleccione...</option>
                    @foreach (var item in Model)
                    {
                        <option value= "@item.id">
                            @Html.DisplayFor(modelItem => item.NombreUnico)
                        </option>

                    }
                </select>
            </div>
            <div class="form-group">
                <label for="txtPlantNameC">Nombre científico:</label>
                <input type="text" class="form-control" id="txtPlantNameC" placeholder="Nombre científico">
            </div>
            <div class="form-group">
                <label for="txtPlantNameV">Nombres vulgares:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="txtPlantNameV" placeholder="Nombres vulgares">
                    <button class="btn btn-outline-primary" type="button" id="btnAddName">Agregar nombre</button>
                </div>
                <ul class="list-group col col-sm-6 mt-4" id="listNames"></ul>
            </div>
            <div class="form-group">
                <label for="txtPlantAmb">Ambiente:</label>
                <input type="text" class="form-control" id="txtPlantAmb" placeholder="Ambiente">
            </div>
            <div class="form-group">
                <label for="txtPlantHeight">Altura máxima (en metros):</label>
                <input type="number" class="form-control" id="txtPlantHeight" placeholder="Altura máxima" min="0">
            </div>
            <div class="form-group">
                <label for="txtPlantPrice">Precio unitario (en pesos):</label>
                <input type="number" class="form-control" id="txtPlantPrice" placeholder="Precio unitario" min="0">
            </div>
            @*<div class="form-group">
                    <label for="txtPlantImg">Imagen:</label>
                    <input type="file" class="form-control" id="txtPlantImg" multiple>
                </div>*@
            <div class="form-group">
                <label for="txtPlantDesc">Decripción:</label>
                <textarea class="form-control" id="txtPlantDesc" placeholder="Añada una descripción..." onkeydown="countCharacters()" style="resize: none; height: 250px;"></textarea>
                <span class="pull-right label label-default" id="characterCounter"></span>
            </div>
            <div class="form-group">
                <INPUT type="button" id="btnSavePlant" class="btn btn-primary float-right mt-2" value="Agregar planta">>
            </div>
        </form>
    </div>
</div>


<script>
    let textRemaining = 0;
    function countCharacters() {
        let text_min = 10;
        let text_max = 500;
        $('#characterCounter').html('0 / ' + text_max);

        $('#txtPlantDesc').keyup(function () {
            let text_length = $('#txtPlantDesc').val().length;
            text_remaining = text_max - text_length;

            $('#characterCounter').html(text_length + ' / ' + text_max);
            if (text_length > text_max || text_length < text_min) $('#characterCounter').css("color", "red");
            else $('#characterCounter').css("color", "black");
        });
    }

    let arrayNamesV = [];
    $('#btnAddName').click(function () {
        $('#listNames').empty();
        if (!arrayNamesV.includes($('#txtPlantNameV').val().trim()) && $('#txtPlantNameV').val().trim() !== '') arrayNamesV.push($('#txtPlantNameV').val().trim());
        else alert("El nombre no debe ser vacío o repetido.");
        $('#txtPlantNameV').val('');
        fullList()
    });

    function fullList() {
        arrayNamesV.map(function (i) {
            $('#listNames').append(`<li class='list-group-item d-block' id='li_${i}'>
                                        <span class='mt-1 float-left'>${i}</span>
                                        <button type="button" id='btnDeleteItem_${i}'class="btn btn-outline-danger btn-sm float-right">Eliminar</button>
                                    </li>`
            );
        });
    }

    $('body').on('click', "button[id^='btnDeleteItem_']", function () {
        let id = this.id.substr(14);
        let pos = arrayNamesV.indexOf(id);
        arrayNamesV.splice(pos, 1);
        $(listNames).empty();
        fullList();
    });

    $('#btnSavePlant').click(function () {
        if (validateParams()) {
            callController();
        }
    });

    function validateParams() {
        let paramType = validateType();
        let nameC = validateNameC();
        let nameV = validateNameV();
        let amb = validateAmb();
        let height = validateHeight();
        let price = validatePrice();
        @*let pic = validatePicture();*@
        let desc = validateDesc();

        let valid = false;

        if (paramType && nameC && nameV & amb && height && price && desc) {
            valid = true;
        }

        return valid;
    }

    function validateType() {
        let valid = false;
        if ($('#selPlantType').val() !== '') valid = true;
        return valid;
    }

    function validateNameC() {
        let valid = false;
        if ($('#txtPlantNameC').val() !== '') valid = true;
        return valid;
    }

    function validateNameV() {
        let valid = false;
        if (arrayNamesV.length > 0) valid = true;
        return valid;
    }

    function validateAmb() {
        let valid = false;
        if ($('#txtPlantAmb').val() !== '') valid = true;
        return valid;
    }

    function validateHeight() {
        let valid = false;
        if ($('#txtPlantHeight').val() !== '' && !isNaN($('#txtPlantHeight').val())) valid = true;
        return valid;
    }

    function validatePrice() {
        let valid = false;
        if ($('#txtPlantPrice').val() !== '' && !isNaN($('#txtPlantPrice').val())) valid = true;
        return valid;
    }

    function validateDesc() {
        let valid = false;
        if ($('#txtPlantDesc').val() !== '' && $('#txtPlantDesc').val().length < 500 && $('#txtPlantDesc').val().length > 10) valid = true;
        return valid;
    }

    async function callController() {
        console.log('callController');
        let tipo = $('#selPlantType').val();
        let nombreC = $('#txtPlantNameC').val();
        let nombresV = arrayNamesV.join();
        let amb = $('#txtPlantAmb').val();
        let altura = $('#txtPlantHeight').val();
        let precio = $('#txtPlantPrice').val();
        let desc = $('#txtPlantDesc').val();
        /let img = $('#txtPlantImg')[0].files;/

        let formData = new FormData();
        formData.append("cientifico", nombreC);
        formData.append("vulgares", nombresV);
        formData.append("tipoPlanta", tipo);
        formData.append("ambient", amb);
        formData.append("altura", altura);
        formData.append("precio", precio);
        formData.append("descripcion", desc);
        //formData.append("imagen", img[0]);

        await $.ajax({
            type: "POST",
            url: '/Planta/PlantaAgregada',
            data: formData,
            contentType: false,
            processData: false,
            success: function (res) {
                console.log(res);
                callback();
            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }

    function callback() {
        let location = window.location.host;
        window.location.href = `https://${location}/Planta/ListaPlantas`;
    }
</script>
