@model IEnumerable<Dominio.Planta>

@{
    ViewData["Title"] = "Agregar Ficha";
}


<div class="row justify-content-center">
    <div class="col col-sm-8">
        <h1>@ViewData["Title"]</h1>
        <p>Complete todos los campos.</p>
        <form class="card p-3" asp-action="AgregarFicha">
            <div class="form-group">
                <label for="selPlanta">Seleccione planta:</label>
                <select class="form-control" name="planta" id="selPlanta">
                    <option value="">Seleccione planta...</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.IdPlanta">
                            @Html.DisplayFor(modelItem => item.NombreCientifico)
                        </option>

                    }
                </select>
            </div>
            <div class="form-group">
                <label for="selLightType">Tipo de iluminación:</label>
                <select class="form-control" name="tipoi" id="selLightType">
                    <option value="">Seleccione...</option>
                    <option value="Luz Directa">Luz Directa</option>
                    <option value="Luz Indrecta">Luz Indirecta</option>
                    <option value="Sombra">Sombra</option>
                </select>
            </div>
            <div class="form-group">
                <label for="txtFrec">Frecuencia de riego:</label>
                <input type="text" class="form-control" id="txtFrec" name="fr" />
            </div>
            <div class="form-group">
                <label for="txtTemp">Temperatura:</label>
                <input type="text" class="form-control" id="txtTemp" name="temp" />
            </div>
            <div class="form-group">
                <input type="submit" id="btnSaveType" class="btn btn-primary float-right mt-2" value="Agregar">
            </div>
        </form>
    </div>
</div>