@{
    ViewData["Title"] = "Agregar Tipo";
}


    <div class="row justify-content-center">
        <div class="col col-sm-8">
            <h1>@ViewData["Title"]</h1>
            <p>Complete todos los campos.</p>
            <form class="card p-3" asp-action="TipoAgrega">
                <div class="form-group">
                    <label for="txtTypeName">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">

                    <label for="txtTypeDesc">Decripción:</label>
                    <textarea class="form-control"  name="texto" placeholder="Añada una descripción..." style="resize: none; height: 250px;"></textarea>
                    <span class="pull-right label label-default" id="characterCounter"></span>
                </div>
                <div class="form-group">
                    <input type="submit" id="btnSaveType" class="btn btn-primary float-right mt-2" value="Agregar">
                </div>
            </form>
        </div>
    </div>

<script>
    let text_max = 200; 
    $('#characterCounter').html('0 / ' + text_max);

    $('#txtTypeDesc').keyup(function () {
        var text_length = $('#txtTypeDesc').val().length;
        var text_remaining = text_max - text_length;

        $('#characterCounter').html(text_length + ' / ' + text_max);
        if (text_length > text_max) $('#characterCounter').css("color", "red");
        else $('#characterCounter').css("color", "black");
    });
</script>
