@model IEnumerable<Dominio.TipoPlanta>

@{
    ViewData["Title"] = "Listado de Tipos";
}

<div class="row justify-content-center">
    <div class="col col-sm-8 col-lg-10">
        <h1>@ViewData["Title"]</h1>

        <form method="post" asp-action="BuscarPlanta">
            <div class="form-group row justify-content-center mt-3">
                <div class="input-group mb-2 col col-sm-6">
                    <input type="text" class="form-control" name="texto" id='txtSearchType' placeholder="Ingrese búsqueda...">
                    <div class="input-group-append">
                        <input class="btn btn-primary" id="btnSearchType" type="submit" value="Buscar">
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreUnico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionTipo)
                    </td>
                    <td>
                        <a asp-action="EditarTipo" asp-route-id="@item.id">Editar</a>
                        
                    </td>
                    <td>
                        <input type="button" class="btn btn-danger" value="Eliminar" id="btnDelete_@item.id">
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>

    $("input[id^='btnDelete_']").click(function () {
        let id = this.id.substr(10);
        console.log(id);

        callController(id);
    });

    async function callController(idtipo) {

        let formData = new FormData();
        formData.append("id", idtipo);

        await $.ajax({
            type: "POST",
            url: '/Tipo/EliminarTipo',
            data: formData,
            contentType: false,
            processData: false,
            success: function (res) {
                console.log(res);
                callback();
            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }


    function callback()
    {
        location.reload();
    }
</script>